<div class="group">
  <%= link_to("New record", new_record_path, class: "btn btn-primary pull-right") %>
</div>
<ul>
  <% @records.each do |record| %>

    <li> <%= record.id  %> </li>
  <% end %>
</ul>
