<h1>swim record main page</h1>
<li><%= link_to "user story original page", page_path("user_story") %></li>
<li><%= link_to "feedback", userstories_path %></li>
<li><%= link_to "records", records_path %></li>
<li><%= link_to "itri_records", itri_records_path %></li>
