<h1>user story </h1>
<%= link_to "home", page_path("index") %>
<p>
  <ol>
    <li>使用者可以上傳自己的游泳紀錄</li>
    <li>使用者可以瀏覽目前上傳的所有紀錄</li>
    <li>紀錄有包含項目、距離、性質(是比賽還是練習)、日期, 紀錄是否公開, 時間</li>
    <li>使用者可以上傳的資料是項目、距離、性質、日期</li>
    <li>後台可以將所有標記為比賽的紀錄設定是否為公開紀錄</li>
    <li>可以用圖表的方式、列表的方式顯示紀錄</li>
    <li>可以用filter來過濾要顯示的局部紀錄</li>
    <li></li>
</ol>
</p>
